@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body, html{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.icon-info{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
  margin-bottom: 5px;
  cursor: pointer;
}

.title-info{
  font-size: 25px;
  text-align: center;
}

.details-info{
  width: 100%;
  margin: auto;
}

.list-info{
  margin: auto;
  display: flex;
  flex-direction: row;
  font-size: 13px;
  align-items: center;
  justify-content: space-around;
  width: 50%;
}

.star{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 70px;
  margin: auto;
  margin-top: 5px;
}

.description{
  width: 90%;
  margin: auto;
}

.description-title{
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.desc {
  color: #747474;
  font-size: 12px;
  text-align: left;
}

.images {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cast-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cast-name {
  font-size: 12px;
  margin-top: 5px;
  color: #747474;
}

.button-buy{
  text-align: center;
}